

{%  extends 'firstapp/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static '/vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container">

    <div class="row">

        <div class="col-lg-2">

            <h1 class="my-5">Дисциплины</h1>
            <div class="list-group">
                {% for category in categorys %}
                                 <a href="#" class="list-group-item">{{category.name}}</a>
                {% endfor %}
            </div>

        </div>
        <!-- /.col-lg-3 -->



            <div class="row my-5">

                {% for product in products %}

                    <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img class="card-img-top"
                                 src="{% static '/vendor/img/products/pass.png' %}"
                                 alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ product.name }}</a>
                            </h4>
                            <h5>{{ product.price }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'products:basket_add' product.id %}" class="btn btn-outline-success">приступить к выполнению</a>
                        </div>
                    </div>
                    </div>
                {% endfor %}


            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</div>
{% endblock %}






